/* GLOBALS */

.body {
    background-image: url('../img/site.png');
}

a {
    color: #000;
    transition: color 0.3s;
    text-decoration: none;
}

.site__item {
    padding: 0 20px;
    background: #FFF;
}

.img {
    display: block;
}

.img--cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.img--contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card-holder {
    height: 100%;
    padding-bottom: 20px;
}

.card {
    height: 100%;
}

/* HEADER */

.header {
    background-image: url('../img/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo__mob {
    padding: 10px 0;
    height: 70px;
}

.logo__mob .img {
    object-position: left;
}

.navbar-nav {
    flex: 1 1 auto;
}

.navbar-nav .nav-link {
    font-weight: 500;
}

.dropdown-toggle--plus {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    border: 0;
    background: transparent;
    font-size: 1.2rem;
    transition: transform 0.2s;
}

.dropdown-toggle--plus.show {
    transform: rotate(45deg);
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .nav-link {}

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

@media (max-width: 992px) {
    .navmenu {
        margin-bottom: 20px;
    }

    .dropdown-item {
        white-space: normal;
    }
}

.social {
    display: flex;
    align-items: center;
}

.social__link {
    display: block;
    padding: 0 10px;
    font-size: 1.3rem;
}

.social__link:not(:last-child) {
    border-right: 1px solid #dee2e6;
}

/* MAIN */

.main {
    padding: 30px 20px;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 20px;
}

.section__title {
    margin-bottom: 20px;
}

/* MAIN - SERVICES */

.services .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.services .card-title {
    font-size: 14px;
}

.services .card-text {
    font-size: 12px;
}

/* MAIN - INDEX-NEWS */

.index-news__item {
    position: relative;
    height: 500px;
}

.index-news__caption {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 20px;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
}

.index-news__caption a {
    color: #fff;
}

.index-news__caption a:hover {
    color: #0d6efd;
}

.slick-arrow {
    z-index: 1;
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}

.slick-prev:before, .slick-next:before {
    font-size: 26px;
    color: grey;
}

/* MAIN - MANAGEMENT */

.management__img {
    height: 200px;
}

/* MAIN - OFFICES */

.offices__img {
    height: 100%;
}

.offices__text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* MAIN - LAWYERS */

.lawyers .card-body {
    padding: 10px;
}

.lawyers__img {
    height: 145px;
}

/* MAIN - ABOUT */

.about {
    font-size: 12px;
}

/* MAIN - PHOTOARCHIVE */

.photoarchive__item {
    height: 150px;
    cursor: pointer;
}

.photoarchive__item a {
    display: block;
    width: 100%;
    height: 100%;
}

.photoarchive__item--hidden {
    display: none;
}

/* MAIN - PARTNERS */

.parners__item {
    height: 150px;
    background: #fff;
}

/* MAIN - SIDEBAR */

.sidebar__section {
    margin-bottom: 20px;
}

.sidebar__section .card-holder:last-child {
    padding-bottom: 0;
}

.sidebar__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.sidebar__thumb {
    height: 135px;
}

.sidebar__date {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9rem;
}

/* FOOTER */

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-nav {
    padding: 20px;
    background: #323232;
    color: white;
}

.footer-nav li {
    background: transparent;
}

.footer-nav a {
    color: #838282;
}

/* ARCHIVE */

.archive__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.archive__img {
    display: block;
    height: 100%;
}

.archive .card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.archive__props {
    font-size: 14px;
}

/* SINGLE */

.single__props {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}